@import url("../../css/cake.generic.css");

/** General Styles **/

html {
  height: 100%;
}

body {
	min-height: 100%;
	background: #408DA7;
	color: #3c3c3e;
	font-family:helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
	position: relative;
}

/** Override CakePHP Styles **/
div.actions {
	width: 100%;
	float: none;
	padding: 0;
}

div.form, div.index, div.view {
	border: none;
	padding: 0;
	float: none;
	width: 100%;
}

form { clear: none; }

dl { width: 100%; }

/** Headers **/
h2 {
	color: #AA0000;
	background-color: transparent;
}

/** Layout **/
#container {
	background: url('../img/main-bg.png') #fff no-repeat left top;
	text-align: left;
	text-align: center;
}

#header{
	text-align: right;
	width: 900px;
	margin: 0 auto;
	padding: 10px 20px;
	background-image: url("../img/cityscape.png");
	height:	188px;
	background-position: bottom center;
	background-repeat: no-repeat;
}
#header h1 {
	line-height:20px;
	background: #003d4c url('..../img/cake.icon.png') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #003d4c;
	text-decoration: underline;
}

#header img {
  border: none;
}

#contentWrapper {
  text-align: center;
  background-color: #408DA7;
  background-image: url("../img/wave.png");
  background-repeat: repeat-x;
}

#content, #footer, .cake-sql-log {
  z-index: 1000;
  position: relative;
}

#content{
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	text-align: left;
	margin: 0 auto;
	background: url("../img/sidebar-bg.png") repeat-y #fff right;
	clear: both;
	color: #333;
	padding: 60px 0px 40px 0px;
	overflow: auto;
	width: 920px;
}

#content.skinny-sidebar {
	background-position: 760px center;
}

#content.no-sidebar {
	background-image: none;
}

#navigation {
	-webkit-border-radius:10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	position: absolute;
	top: 0;
  	background-image: url("../img/dirt.png");
  	background-repeat: repeat-x;
	width: 920px;
	height: 50px;
}

#navigation ul {
	line-height: 50px;
}

#navigation li {
	float: left;
	list-style-type: none;
	color: #999;
}

#navigation li.account {
	float: right;
}

#navigation li a {
  color: #fff;
  font-weight: normal;
  text-decoration: none;
}

#navigation li a:hover {
	text-decoration: underline;
}

#navigation li.auth {
  float: right;
}

#navigation div.sidebar-block {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4px;
  width: 310px;
  background: url("../img/sidebar-bg.png") left bottom;
}

#content.no-sidebar #navigation div.sidebar-block {
	display: none;
}
#content.skinny-sidebar #navigation div.sidebar-block {
	width: 160px;
}

#content .half {
  width: 250px;
  float: left;
}

#content .half.last {
  float: right;
}

.sidebar, #sidebar {
  float: right;
  width: 270px;
  margin: 0 20px 0 0;
  clear: right;
}

#content.skinny-sidebar .sidebar, #content.skinny-sidebar #sidebar {
	width: 140px;
	margin-right: 10px;
}

#content.no-sidebar #sidebar {
	display: none;
}

#mainContent {
	margin: 0 330px 0 20px;
}

#content.no-sidebar #mainContent {
	margin-right: 20px;
}

#content.skinny-sidebar #mainContent {
	margin-right: 180px;
}

#footer {
	clear: both;
	padding: 6px 10px 20px 10px;
	text-align: right;
	width: 900px;
	margin: 0 auto;
}

#footer p {
  float : left;
  font-size: 0.75em;
}

/** containers **/
div.form,
div.index,
div.view {
  /* Nothing here */
}

div.actions {
}

div.actions h3 {
	padding-top:0;
	color:#777;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: left;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.paging span.current {
	color: #c73e14;
}
div.paging span a {
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0 0 20px 0;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	padding: 0;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #a00;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: left;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: left;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: left;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: left;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/
div.message {
	clear: left;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}
div.error-message {
	clear: left;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/**  Actions  **/
div.actions ul {
	margin: 0 0 20px 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: underline;
}

input[type=submit],
div.actions ul li a,
td.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover {
	background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}

/** Related **/
div.related {
	clear: both;
	display: block;
}

/* Decorations */

div.water-light {
	position: absolute;
	bottom: 0px;
	background: url('../img/under-water-light.png');
	width: 200px;
	height: 200px;
	z-index: 20;
}

div.water-light.right {
	right: 0px;
}

div.water-light.left {
	left: 0px;
	background-position: right top;
}

/* Sponsors */

.sponsors h3 {
	clear: left;
	padding-top: 20px;
}

a.sponsor-box {
	float: left;
	display: block;
	margin: 0 10px 0 0;
	font-weight: normal;
}

a.sponsor-box.looking {
	border: 1px solid #ccc;
}

a.sponsor-box.diamond, a.sponsor-box.gold, a.sponsor-box.silver {
	background-color: #fff;
	margin: 10px 10px 10px 0;
	text-align: center;
	text-decoration: none;
}

a.sponsor-box.diamond img, a.sponsor-box.gold img, a.sponsor-box.silver img {
	vertical-align: middle;
	border: none;
	max-width: 100%;
	max-height: 100%;
}

a.sponsor-box.diamond {
	width: 270px;
	height: 170px;
	line-height: 170px;
	font-size: 15px;
}

a.sponsor-box.gold {
	width: 176px;
	height: 100px;
	line-height: 100px;
	font-size: 12px;
}

a.sponsor-box.silver {
	width: 129px;
	height: 75px;
	line-height: 75px;
	font-size: 10px;
}

a.sponsor-box.looking:hover {
	background-color: #ccc;
}

.sponsors ul {
	margin: 0;
}

.sponsors ul li {
	float: left;
	width: 188px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.sponsors ul li a {
	font-weight: normal;
}

/* schedule */

div.schedule {
	margin-bottom: 20px;
}

div.schedule div.block {
	position: relative;
	clear: left;
}

div.schedule div.day {
	clear: left;
	text-align: right;
	padding: 40px 0 10px 10px;
	font-size: 1.5em;
}

div.schedule div.day:nth-child(1) {
	padding-top: 0;
}

div.schedule div.time {
	float: left;
	clear: left;
	background-color: #fff;
	width: 70px;
	height: 40px;
	font-size: 12px;
}

div.schedule div.time p {
	padding: 0;
	margin: 3px;
	text-align: right;
}

div.schedule div.talk {
	position: absolute;
	width: 648px;
	left: 70px;
	height: 38px;
	border: 1px solid #000;
	border-color: #fff #ccc #ccc #fff;
	background-color: #eee;
}

div.schedule div.talk.minutes-15 {
	height: 18px;
}

div.schedule div.talk.minutes-30 { }

div.schedule div.talk.minutes-45 {
	height: 58px;
}

div.schedule div.talk.minutes-60 {
	height: 78px;
}

div.schedule div.talk.minutes-75 {
	height: 96px;
}

div.schedule div.talk.minutes-90 {
	height: 118px;
}

div.schedule div.talk.minutes-105 {
	height: 142px;
}

div.schedule div.talk.minutes-120 {
	height: 158px;
}

div.schedule div.talk.minutes-135 {
	height: 177px;
}

div.schedule div.talk.minutes-150 {
	height: 198px;
}

div.schedule div.talk.minutes-165 {
	height: 218px;
}

div.schedule div.talk.minutes-180 {
	height: 238px;
}

div.schedule div.talk.double-block {
	width: 323px;
}

div.schedule div.talk-2 {
	left: 395px;
}

div.schedule div.talk.tripple-block {
	width: 214px;
}

div.schedule div.talk.tripple-block.talk-2 {
	left: 286px;
}

div.schedule div.talk.tripple-block.talk-3 {
	left: 502px;
    	width: 216px;
}

div.schedule div.talk.quad-block {
	width: 161px;
}

div.schedule div.talk.quad-block.talk-2 {
	left: 233px;
}

div.schedule div.talk.quad-block.talk-3 {
	left: 396px;
}

div.schedule div.talk.quad-block.talk-4 {
	left: 559px;
	width: 159px;
}

div.schedule div.talk p {
	padding: 0;
	margin: 3px;
	text-align: center;
}

div.schedule div.talk p span {
	font-size: 0.8em;
	white-space: nowrap;
}

div.talks table tr td h3 a, div.speakers table tr td h3 a {
	color: #2c6877;
	font-family:'Gill Sans','lucida grande', helvetica, arial, sans-serif;
	text-decoration: none;
	font-weight: normal;
}

ul.tracks {
	margin: 0;
}

ul.tracks li {
	list-style-type: none;
	margin: 0 0 5px 0;
	padding: 10px;
	border: 1px solid #000;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* News */

article {
	position: relative;
	padding: 0;
	margin: 0 0 20px 0;
}

article h2 {
	padding-right: 200px;
}

article time {
	position: absolute;
	right: 0;
	top: 10px;
}

/* Editor */

.wysiwyg-toolbar {
	padding: 0;
	margin: 10px 0;
	position: relative;
}

.wysiwyg-toolbar a {
	font-weight: normal;
	padding: 5px;
	margin: 0 5px 0 0;
	border: 1px solid #ccc;
}

.wysiwyg-toolbar a.wysihtml5-command-active, .wysiwyg-toolbar a.wysihtml5-action-active {
	background-color: #ccc;
}

.wysiwyg-toolbar.wysihtml5-commands-disabled a {
	visibility: hidden;
}

.wysiwyg-toolbar a.html-view {
	visibility: visible;
	position: absolute;
	top: -6px;
	right: 0px;
}
